<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sharp Admin</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="description" content="A very good admin theme">
        <meta name="author" content="AHthemes">
        <!-- Styles -->
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="assets/jquery-ui-bootstrap/css/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
        <link href="assets/fullcalendar/css/fullcalendar.css" rel="stylesheet" />
        <link href="assets/fullcalendar/css/fullcalendar.print.css" rel="stylesheet" media="print" />
        <link href="assets/css/styles.css" rel="stylesheet" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <![endif]-->
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/ico/favicon.png">
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="index.html">Sharp Admin</a>
                <ul class="nav">
                    <li id="menu-icon"><a class="menu-icon" href="#"><i class="icon-reorder"></i></a></li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle menu-icon" data-toggle="dropdown" href="#"><i class="icon-user"></i></a>
                        <ul class="user dropdown-menu">
                            <li>
                                <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <img class="profile" src="assets/img/bruce.jpg" alt="">
                                        </div>
                                        <div class="span8 details">
                                            <small>Welcome <a href="#">Roger</a>, busy?</small>
                                            <ul class="unstyled">
                                                <li><a href="#"><small><i class="icon-comments icon"></i> 12 new comments</small></a></li>
                                                <li><a href="#"><small><i class="icon-calendar icon"></i> 6 new events</small></a></li>
                                                <li><a href="#"><small><i class="icon-bar-chart icon"></i> 2 sales reports</small></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                    <div class="row-fluid sales">
                                        <div class="span12 well">
                                            <div class="row-fluid">
                                                <div class="border-right span6">
                                                    <p class="text-center">Sales: $800</p>
                                                </div>
                                                <div class="span6">
                                                    <p class="text-center">Users: 1267</p>
                                                </div>
                                            </div>
                                            <!-- End Row -->
                                        </div>
                                    </div>
                                    <!-- End Row -->
                                </div>
                                <!-- End Container -->
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">notifications <span class="top-alert vibrate"><span class="arrow"></span>4</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <p class="padding"><img class="pull-left picture" src="assets/img/flat_icons/message.png" width="30" alt="" /><small>Hey, I wondered if you could help me as I can't log on to my account. Thanks</small></p>
                                    <p><small class="muted"><i class="icon-user"></i> Stan Smith<span class="pull-right"><i class="icon-time"></i> 2 hours ago</span></small></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="padding"><img class="pull-left picture" src="assets/img/flat_icons/calendar.png" width="30" alt="" /><small>New calendar event: 'Greg's Birthday Party' in <span class="text-warning">2 days</span> time at 6pm</small></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="padding"><img class="pull-left picture" src="assets/img/flat_icons/charts.png" width="30" alt="" /><small>Sales of 'Product X' from 2013 Q3 are up <span class="text-success">15%</span> while others are up <span class="text-warning">2%</span></small></p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p class="padding"><img class="pull-left picture" src="assets/img/flat_icons/cone.png" width="30" alt="" /><small><span class="text-error">An error has occurred.</span> The cron needs your attention</small></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right search">
                    <form class="nav-search" action="">
                        <input type="text">
                    </form>
                </ul>
            </div>
            <!-- /.navbar-inner -->
        </div>
        <!-- /.navbar -->
        <ul class="menu">
            <li>
                <a href="index.html"><span><img class="img-icon" src="assets/img/flat_icons/dashboard.png" alt="" />Dashboard</span></a>
            </li>
            <li>
                <span><img class="img-icon" src="assets/img/flat_icons/layered.png" alt="" />Ui Features<i class="icon-angle-down"></i></span>
                <ul>
                    <li><a href="elements.html">Elements</a></li>
                    <li><a href="components.html">Components</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="grid.html">Grid</a></li>
                    <li><a href="icons.html">Icons</a></li>
                </ul>
            </li>
            <li>
                <span><img class="img-icon" src="assets/img/flat_icons/edit.png" alt="" />Form Elements<i class="icon-angle-down"></i></span>
                <ul>
                    <li><a href="form-components.html">Form Components</a></li>
                    <li><a href="form-wizard.html">Form Wizard</a></li>
                    <li><a href="form-editors.html">Form Editors</a></li>
                </ul>
            </li>
            <li><a href="tables.html"><span><img class="img-icon" src="assets/img/flat_icons/ruler.png" alt="" />Data Tables</span></a></li>
            <li>
                <span><img class="img-icon" src="assets/img/flat_icons/map.png" alt="" />Maps<i class="icon-angle-down"></i></span>
                <ul>
                    <li><a href="google-maps.html">Google Maps</a></li>
                    <li><a href="vector-maps.html">Vector Maps</a></li>
                </ul>
            </li>
            <li><a href="charts.html"><span><img class="img-icon" src="assets/img/flat_icons/charts.png" alt="" />Charts</span></a></li>
            <li class="active"><a href="calendar.html"><span><img class="img-icon" src="assets/img/flat_icons/calendar.png" alt="" />Calendar</span></a></li>
            <li><a href="gallery.html"><span><img class="img-icon" src="assets/img/flat_icons/gallery.png" alt="" />Gallery</span></a></li>
            <li>
                <span><img class="img-icon" src="assets/img/flat_icons/projects.png" alt="" />Misc<i class="icon-angle-down"></i></span>
                <ul>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="search.html">Search Results</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="blank.html">Blank Page</a></li>
                    <li><a href="pricing.html">Pricing Tables</a></li>
                    <li><a href="404.html">404 Page</a></li>
                    <li><a href="500.html">500 Page</a></li>
                </ul>
            </li>
        </ul>
        <div class="page-wrap">
            <div class="breadcrumb">
                <a class="btn orange" href="calendar.html"><i class="icon-refresh"></i></a> <a class="btn" href="calendar.html">Calendar</a>
                <div class="pull-right">
                    <a class="btn btn-info" href="#"><i class="icon-calendar"></i></a> <a class="btn" href="#">13/08/13</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title">Calendar</div>
                        <div class="well-content">
                            <div class="row-fluid">
                                <div class="span3">
                                    <div id="external-events">
                                        <h5>Draggable Events</h5>
                                        <div class="external-event">
                                            <span class="label blue">
                                            <i class="icon-move"></i> Party at my house
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label blue">
                                            <i class="icon-move"></i> Lunch with my mates
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label lightblue">
                                            <i class="icon-move"></i> The Bank Robbery
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label blue">
                                            <i class="icon-move"></i> Dinner with my date
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label red">
                                            <i class="icon-move"></i> That big meeting
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label blue">
                                            <i class="icon-move"></i> Some friends birthday
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label orange">
                                            <i class="icon-move"></i> When the movie starts
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label green">
                                            <i class="icon-move"></i> Really good TV show starts
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label lightgreen">
                                            <i class="icon-move"></i> Dinner with my bro
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label red">
                                            <i class="icon-move"></i> Free Time
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label grey">
                                            <i class="icon-move"></i> The concert starts
                                            </span>
                                        </div>
                                        <div class="external-event">
                                            <span class="label black">
                                            <i class="icon-move"></i> When the plane leaves
                                            </span>
                                        </div>
                                        <p>
                                            <input type="checkbox" id="drop-remove" /> remove after drop 
                                        </p>
                                    </div>
                                </div>
                                <div class="span9">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid footer">
		        <div class="row-fluid">
		            <div class="span12">
		                <p class="pull-right">© 2013 Company Name. All rights reserved</p>
		            </div>
		        </div>
	        </div>
        </div>
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="assets/js/excanvas.min.js"></script><![endif]-->
        <script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>	
        <script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/jquery-ui-bootstrap/js/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
        <script src="assets/fullcalendar/js/fullcalendar.min.js" type="text/javascript"></script>
        <script src="assets/js/script.js" type="text/javascript"></script>
        <script src="assets/js/menu.js" type="text/javascript"></script>
        <script>calendar();</script>
    </body>
</html>